@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-releway: "Raleway", sans-serif;
  --font-alice: "Alice", sans-serif;

  --color-primary: #C8A97E;
  --color-secondary: #8C6B3E;
  --color-creame: #fffaf0;
  --color-brown: #433c38;
  --color-button: #c09e67;

}
